[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "agno>=2.3.21",
    "fastapi>=0.127.0",
    "google-genai>=1.56.0",
    "pydantic>=2.12.5",
]
